<h1><%= @user.display_name %>'s Profile</h1>

<p>照片：<%= image_tag @user.profile.try(:picture) %></p>
<% if @user.fb_uid %>
<p>使用者名稱、FB： <%= link_to @user.try(:display_name), "https://www.facebook.com/#{@user.try(:fb_uid)}" %></p>
<% else %>
<p>使用者名稱： <%= @user.try(:display_name) %></p>
<% end %>
<p>性別： <%= @user.profile.try(:gender) %></p>
<p>生日： <%= @user.profile.try(:birthday) %></p>
<p>血型： <%= @user.profile.try(:bloodtype) %></p>
<p>自我介紹：<%= @user.profile.try(:about_me) %></p>
<p>聲音簡介：<%= @user.profile.try(:voice) %>功能開發中</p>


<%= link_to "編輯個人資料", edit_user_profile_path(current_user), :class => "btn btn-primary" if @user == current_user %> 


<p>參與過的文章：</p>
<ul>
<% @user.chapters.each do |p| %>
  <li><%= link_to p.topic, chapter_path(p) %></li>
<% end %>
</ul>