<h1></h1>
<%= link_to "我要開啟一段新的故事", new_chapter_path , :class => "btn btn-primary" %>

<table class="table">
  <tr>
    <td>
      <%= form_tag chapters_path, :method => :get do %>
        <%= collection_select( :category, :id, Category.all, :id, :name,{:include_blank => '選擇故事類別or不分類'}) %>
        <%= text_field_tag "keyword" %>
        <%= submit_tag "Search" %>
      <% end %>
    </td>
    <td><%= link_to 'Sort by viewed', chapters_path( chapters_filter( :order => "view") ) %></td>
      <%#= link_to 'Sort by comments', chapters_path( chapters_filter( :order => "comments_count") ) %>
      <%#= link_to 'Sort by last comments', chapters_path( chapters_filter( :order => "last_comment_time") ) %>
    <td><%= link_to 'Sort by Name', chapters_path( chapters_filter( :order => "topic") ) %></td>
    <td><%= link_to 'Sort by Default', chapters_path %></td>
  </tr>
</table>

<h3>所有故事結構表</h3>
<div class="storyline">
<div class="element">
<ol class="level1">
  <% @chapters.at_depth(0).each do |d| %>
 
    <h4><%= d.category.name if d.category %></h4>
    
    <li>
      <%= link_to d.topic, chapter_path(d) %>
    </li>
      <% if d.has_children? %>
        <ol class="level2">
          <% d.children.each do |ch| %>
            <li>
              <%= link_to ch.topic, chapter_path(ch) %>
            </li>
              <% if ch.has_children? %>
                <ol class="level3">
                  <% ch.children.each do |gc| %>
                    <li>
                      <%= link_to gc.topic, chapter_path(gc) %>
                    </li>
                  <% end %>
                </ol>
              <% end %>
          <% end %>
        </ol>
      <% end %>
  <% end %>
</ol>
</div>
</div>

<table class="table">
<h2>所有已完成故事</h2>
<tr>
  <th>標題</th>
  <th>作者</th>
  <th>場景</th>
  <th>類別</th>
  <th>點閱</th>
  <th>層級</th>
  <th>完成</th>
</tr>
  <% @finish.each do |f| %>
    <tr> 
      <td><%= link_to f.topic, chapter_path(f)%></td>
      <% if f.user %>
      <td><%= link_to f.user.try(:display_name), user_profile_path( f.user.id ) %></td>
      <% else %>
      <td></td>
      <% end %>
      <td><%= f.setting %></td>
      <td><%= f.category.name if f.category %></td>
      <td><%= f.view %></td>
      <td><%= f.ancestry_depth+1 %></td>
      <td><%= f.finish %></td>
    </tr>
  <% end %>
</table>

<hr>

<table class="table">
<h2>所有的故事片段</h2>
<tr>
  <th>標題</th>
  <th>作者</th>
  <th>場景</th>
  <th>類別</th>
  <th>點閱</th>
  <th>層級</th>
  <th>完成</th>
</tr>
  <% @chapters.each do |c| %>
    <tr>
      <td><%= link_to c.topic, chapter_path(c)%></td>
      <td><%= c.user.try(:display_name) %></td>
      <td><%= c.setting %></td>
      <td><%= c.category.name if c.category %></td>
      <td><%= c.view %></td>
      <td><%= c.ancestry_depth+1 %></td>
      <td><%= c.finish %></td>
    </tr>
  <% end %>
</table>

<script>
  $("#category_id").select2({ width: "auto" });
  $("#chapter_finish").select2({ width: "auto" });
</script>