<div class="chapter-show">
  <div class="chapter-head">
    <span>
      <h1>
        <%= @chapter.topic %>
      </h1>
    </span>
    <span>
      by <%= link_to @chapter.user.display_name, user_profile_path(@chapter.user) if @chapter.user.present? %>
    </span>

    <span>
      at <%= @chapter.created_at.to_formatted_s(:short) %>
    </span>
  </div>
<!-- fb-like -->
  <div class="fb-like" data-href="<%= chapter_url(@chapter) %>" data-width="500px" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" colorscheme = "dark"></div>
<!-- fb-like -->

  <% if @chapter.parent %>
      <p style="text-align: right; border-radius: 50%"><%= link_to "回到上一層故事： #{@chapter.parent.topic}", chapter_path(@chapter.parent) , :class=>"btn btn-success"%></p>
    <% end %>

  <% if @chapter.parent %>
    <% @chapter.ancestors.each do |p| %>
      <div class="story-btn">
        <a class="btn btn-warning" role="button" data-toggle="collapse" href="#collapseExample<%= p.depth %>" aria-expanded="false" aria-controls="collapseExample<%= p.depth %>">
      回顧一下故事 <%= "#{p.category.name if p.category} 第#{p.depth+1}" %>層：
        </a>
      </div>
      <div class="collapse" id="collapseExample<%= p.depth %>">
        <div class="well">
          <span>
            <h3>
              <%= p.topic %>
            </h3>
          </span>
          <span>
            by <%= link_to p.user.display_name, user_profile_path(p.user) if p.user.present? %>
          </span>
          <span>
            at <%= p.created_at.to_formatted_s(:short) %>
          </span>
          <% if p.root? %>
          <div class="chapter-setting">
            <span>故事設定：</span>
            <span><%= p.setting %></span>
          </div>
          <% end %>
          <div class="chapter-img">
            <span>
              <% if p.avatar.thumb.url %>
                <%= image_tag p.avatar.thumb.url, :class => "chapter-cover" %>
              <% end %>
            </span>
          </div>
          <div class="chapter-content">
            <p>
              <%= simple_format p.content %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
<% end %>
  <hr>
    <% if @chapter.root? %>
      <div class="chapter-setting">
        <span>故事設定：</span>
        <span><%= @chapter.setting %></span>
      </div>
    <% end %>

    <% if @chapter.avatar.url %>
      <div class="chapter-img">
        <span>
          <%= image_tag @chapter.avatar.url, :class => "chapter-cover" %>
        </span>
      </div>
    <% end %>

      <div class="chapter-content">
        <span>
          <%= simple_format @chapter.content %>
        </span>
      </div>
      <div>
        <% if current_user == @chapter.user %>
          <%= link_to "修改",edit_chapter_path(@chapter), title:"請注意，如果內容有重大變更，請用新的故事接續，確保其他共創故事的延續性:)", :data => {:confirm => "請注意，如果內容有重大變更，請用新的故事接續，確保其他共創故事的延續性:)"}, class:"btn btn-info" %>
        <% end %>
      </div>
      <div>
        <% if @chapter.can_continue? %>
          <%= link_to "我要接續這段故事", new_chapter_path(:parent_id => @chapter.id, :category_id => @chapter.category_id) , :class => "btn btn-primary"%>
        <% end %>
      </div>
  <hr>

  <% if @chapter.has_children? %>
    <% @chapter.children.each do |c| %>
      <p style="text-align: right; border-radius: 50%"><%= link_to "觀賞下一層的故事： #{c.topic}", chapter_path(c) , :class=>"btn btn-success"%></p>
    <% end %>
  <% end %>
  <div class="fb-comments" data-href="<%= chapter_url(@chapter) %>" data-width="500px" data-numposts="5" colorscheme = "dark" data-order-by="reverse_time"></div>
</div>
