<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || '故事里' %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          
          <ul class="nav nav-pills">
            <li><%= link_to "IndexPage  TimeNow:#{Time.current.to_s(:short)}", root_path %></li>
            
          <% if current_user %>
              <li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
              <li><%= link_to('修改密碼', edit_registration_path(:user)) %></li>
          <% else %>
              <li><%= link_to('註冊', new_registration_path(:user)) %></li>
              <li><%= link_to('登入', new_session_path(:user)) %></li>
              <li><%#= link_to "登入 Facebook", user_omniauth_authorize_path(:facebook) %></li>
          <% end %>
              <% if current_user %>
              <li><%= link_to "Hi! #{current_user.display_name}" %></li>
              <li><%#= link_to "Profile", profile_path( current_user ) %></li>
              <% end %>
          </ul>


          <% if flash[:notice].present? %>
            <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
          <%end%>

          <% if flash[:alert].present? %>
            <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
          <%end%>



          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
