<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || 'Stori - 故事里' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.8, maximum-scale=2.0, user-scalable=yes">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>

<div id="fb-root"></div>

<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5&appId=<%= facebook_app_id %>";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>


    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <%= link_to root_path, :title => "首頁", :class=>"navbar-brand" do %>
                  <%= image_tag "stori200.png","alt"=>"Brand" %>
                <% end %>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="來看看我們的理念">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-square-o fa-stack-2x"></i>
                          <i class="fa fa-info fa-stack-1x"></i>
                        </span>
                        <span>關於我們</span>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to "", 'data-toggle'=>"modal", "data-target"=>".bs-about-modal-lg", :title => "來看看我們的理念" do %>
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-info fa-stack-1x"></i>
                          </span>
                          <span>關於我們</span>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to "", 'data-toggle'=>"modal", "data-target"=>".bs-how-modal-lg", :title => "點這裡來看怎麼玩兒" do %>
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-users fa-stack-1x"></i>
                          </span>
                          <span>HOW TO PLAY!?</span>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to "", 'data-toggle'=>"modal", "data-target"=>".bs-example-modal-lg", :title => "我們會保護你的隱私" do %>
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-lock fa-stack-1x"></i>
                          </span>
                          <span>隱私權政策</span>
                        <% end %>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <%= link_to "", :title => "iosApp上架審核中", :class=>"ios" do %>
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-mobile fa-stack-1x"></i>
                      </span>
                      <span>iOS App</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to suggests_path, :title => "大家可以建議想要的功能還有錯誤回報謝謝" do %>
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-commenting-o fa-stack-1x"></i>
                      </span>
                      <span>建議我們</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to logs_path, :title => "顧名思義更新日誌就是更新的記錄" do %>
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-list-alt fa-stack-1x"></i>
                      </span>
                      <span>更新日誌</span>
                    <% end %>
                  </li>
                </ul>

                <ul class="nav navbar-nav">

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <% if current_user %>
                      <span class="fa-stack fa-lg">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="fa fa-cogs fa-stack-1x"></i>
                      </span>
                      <!-- 使用者設定 -->
                      <% else %>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-square-o fa-stack-2x"></i>
                          <i class="fa fa-cogs fa-stack-1x"></i>
                        </span>
                        登入選項
                      <% end %>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <% if current_user %>
                      <li>
                        <%= link_to user_profile_path( current_user.id ), :title => "個人資料" do %>
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-user fa-stack-1x"></i>
                          </span>
                          <span><%= "Hi! #{current_user.display_name}" %></span>
                        <% end %></li>
                      <li>
                        <%= link_to destroy_user_session_path, :method => :delete, :title => "如果使用公共的電腦記得離開前要登出喔" do %>
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-sign-out fa-stack-1x"></i>
                          </span>
                          <span>登出</span>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to edit_registration_path(:user), :title => "想換換密碼按這裡" do %>
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-key fa-stack-1x"></i>
                          </span>
                          <span>修改密碼</span>
                        <% end %>
                      </li>
                      <% else %>
                      <li>
                        <%= link_to new_registration_path(:user), :title => "用email來註冊後加入我們" do %>
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-rocket fa-stack-1x"></i>
                          </span>
                          <span>註冊</span>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to new_session_path(:user), :title => "用你上次註冊的email來登入" do %>
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-sign-in fa-stack-1x"></i>
                          </span>
                          <span>登入</span>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to user_omniauth_authorize_path(:facebook), :title => "用非死不可登入又快又方便喔" do %>
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x"></i>
                          </span>
                          <span>登入 Facebook</span>
                        <% end %>
                      </li>
                      <% end %>
                    </ul>
                  </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                  <div class="form-group">
                  <%= collection_select( :category, :id, Category.all, :id, :name,{:include_blank => '選擇故事類別or不分類'}) %>
                    <%= text_field_tag "keyword","", :class=>"form-control", :placeholder=>"Search..." %>
                  </div>
                  <button type="submit" class="btn btn-default">搜尋</button>
                </form>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
          <hr>
          <% if flash[:notice].present? %>
            <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
          <%end%>

          <% if flash[:alert].present? %>
            <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
          <%end%>

          <%= yield %>
          
        </div>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71871619-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>

<%= render :partial => "layouts/privacy" %>
<%= render :partial => "layouts/about" %>
<%= render :partial => "layouts/how" %>